# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Turborepo
.turbo/

# Build outputs
dist/

# Expo
.expo/
web-build/
expo-env.d.ts

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# Windows
Thumbs.db

# local env files
.env
.env*.local

# typescript
*.tsbuildinfo

# IDE
.vscode/
.idea/

# Logs
*.log

app-example

# generated native folders
/ios
/android
